// BREAKPOINTS RESPONSIVE //
@mixin mobile {
    @media (max-width: 481px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 729px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin wide {
    @media (max-width: 1920px) {
        @content;
    }
}


// PARAMETRES FONTS //
@mixin font-params($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}


// ANIMATION ARROWS CARROUSEL //
@mixin arrow-rotation($deg) {
    transform: rotate($deg);
    transition: transform 500ms ease-in-out;
}