@use "../abstracts/" as *;


.home-card-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 25px;
    position: relative;
    margin: 50px 5%;
    background-color: $background-color;
    border-radius: 25px;
    padding: 3%;
}

.home-card {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h2 {
        position: relative;
        padding: 20px 0 40px 20px;
        bottom: 80px;
        color: white;
        @include font-params(1.1em, 500);
        background: linear-gradient(transparent, 30%, rgb(81, 81, 81));
        }
}