.carrousel-img {
    // margin: 50px 5%;
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    grid-area: 1 / 1 / 2 / 3;
}

.lgmt-carrousel .fa-solid {
    font-size: 100px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 45%;
}

.carrousel-slide-number {
    font-size: 20px;
}