@use "../abstracts/" as *;


.lgmt-carrousel {
    color: white;
}

// IMAGES //
.carrousel-img {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;

    @include mobile {
        height: 255px;
    }
}

// FLECHES //
.arrows-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    height: 415px;
    width: 90%;

    @include mobile {
        height: 255px;
    }
}

.lgmt-carrousel .fa-solid {
    font-size: 100px;
    padding: 0 15px 0 15px;
    cursor: pointer;

    @include tablet {
        font-size: 60px;
    }

    @include mobile {
        font-size: 40px;
    }
}

// COMPTEUR //
.carrousel-slide-number {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 415px;
    width: 90%;
    align-items: flex-end;
    @include font-params(1.3em, 700);
    padding-bottom: 15px;

    @include mobile {
        height: 260px;
        @include font-params(1em, 700);
    }

}

.carrousel-hidden {
    display: none;
}