@use "../abstracts/" as *;


// GENERAL //
.collapse {
    margin: 25px 0;
}


// FRAME //
.collapse-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    background-color: $main-color;
    color: white;
    @include font-params(1.5em, 700);

    @include tablet {
        @include font-params(1.2em, 700);
    }


    // FLECHE //
    .collapse-arrow {
        font-size: 30px;
        cursor: pointer;
    }

    .arrow-open {
        @include arrow-rotation(180deg);
    }
    
    .arrow-closed {
        @include arrow-rotation(0deg);
    }

    
    // TITRE //
    .collapse-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

}


// CONTENT //
.collapse-content-open {
    position: relative;
    padding: 20px;
    margin-top: -5px;
    z-index: -1;
    border-radius: 5px;
    @include font-params(1em, 400);
    color: $main-color;
    background-color: #f6f6f6;

    transition: 500ms ease-out;
}

.wrapper-closed {
    font-size: 0;

    transition: 500ms ease-out;
}


// PAGES //
.about-collapse {
    margin: 25px 10% 45px 10%;

    @include mobile {
        margin: 25px 5% 45px 5%;
    }

}