@use "../abstracts/" as *;

.lgmt-tags {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
}

.tag {
    height: fit-content;
    width: fit-content;
    min-width: 115px;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-color: $main-color;
    @include font-params(0.8em, 400);
    text-align:center;
    margin: 10px 0;
    cursor: pointer;

    @include mobile {
        margin: initial
    }
}