@use "../abstracts/" as *;

footer {
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;

    @include mobile {
        grid-template-rows: 60% 40%;
    }

    img {
        height: 35px;
        align-self: center;

        @include mobile {
            height: 65px;
        }    
    }

    p {
        font-size: 1.5em;
        align-self: start;

        @include mobile {
            width: 200px;
        }    
    }
}